Debug
bin
obj
.vs
/_ReSharper.Caches
/src/Properties/AssemblyInfo.cs
/evernote2onenote/_ReSharper.Caches
/evernote2onenote/src/Properties/AssemblyInfo.cs
/evernote2onenote/src/Evernote2Onenote.csproj.DotSettings
/evernote2onenote/packages
/evernote2onenote/Evernote2Onenote.sln.DotSettings.user
